hr {
    margin: 0;
}

.footer__texto {
    padding: 1em;
}

.footer__lista {
    display: none;
}

@media screen and (min-width:1024px) {
    .footer {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin: 3em 0 2em 0;
    }

    .footer__lista {
        display: block;
    }

    .footer__titulo {
        margin-left: 1em;
        font-size: 1.5rem;
    }

    .footer__lista__titulo {
        color: var(--cinza2);
        margin-bottom: 1.5em;
    }

    .footer__lista__item {
        padding: 0.5em;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .footer__lista__link {
        text-decoration: none;
        color: var(--cinza1);
    }

}

@media screen and (min-width: 1728px) {
    .footer__lista {
        border-left: 1px solid var(--cinza2);
        padding-left: 1em;
    }
}

