
.header {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.header__container {
    display: flex;
    align-items: center;
}

.header__container__imagem {
    padding: 1em;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .container__label > .header__menu-hamburguer {

    background-image: url(../assets/MenuBranco.png);

}

.container__botao:checked ~ .container__label {
    background: var(--azul-degrade);
}

.header__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.png");   
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.opcoes__item {
    padding: 1em;
}

.opcoes__item:hover {
    background: var(--azul-degrade);
    color: var(--branco);
}

.opcoes__item:hover a {
    color: var(--branco);
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__item:hover {
    background: var(--azul-degrade);
    color: var(--branco);
}



.lista-menu__item:hover .lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    background: none;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
}

.header__container__texto {
    display: none;
}



@media screen and (min-width:1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 1.875rem;
    }

    .container__titulo {
        display: block;
        margin-top: 0.3em;
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        gap: 2rem;
        margin-left: 4em;
    }

    .opcoes__item a {
        text-decoration: none;
        color: var(--preto);
    }

   .opcoes__item--negrito {
        font-weight: 700;
   }

   .header__container {
        margin-right: 3em;
   }

   .header__container__imagem-transparente {
        display: none;
   }

   .header__menu-hamburguer {
        display: none;
   }

   .opcoes__botao {
        display: none;
   }

   .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
   }
}

@media screen and (min-width:1728px) {

    .header__container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .header {
        padding: 0 2em;
    }


    .header__container__texto {
    display: block;
}


}