.visitados {
    background: var(--azul-degrade);
    padding: 1em;
}

.visitados__titulo {
    margin-top: 1em;
    color: var(--branco);
    font-weight: 300;
    text-align: center;
}

.visitados__itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2em 0 1em 0;
}

.itens__item a{
    line-height: 3.5em;
    font-weight: 600;
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {

    .visitados__titulo {
        font-size: 1.5rem;
    }

    .itens__item {
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 1728px) {

    .visitados {
        padding: 3em 30vw;
    }

}